// Typography
///////////////////////////////////////////////////////////////////////////////

$base-font-family: 'omnes-pro', helvetica, sans-serif;
$header-font-family: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

$teal-blue: #53c9f4;
$bright-blue: #216bf3;
$dark-blue: #1f3349;
$medium-gray: #bdc2c8;
$light-gray: #d1dbe2;
$off-white: #f7f8f9;
$bright-red: #ff243e;

// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $dark-blue;
$base-accent-color: $bright-blue;

//  Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 20);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $bright-red;
$notice-color: $bright-blue;
$success-color: $bright-blue;

// Action Colors
$edit-color: $teal-blue;
$play-color: $bright-blue;
