<section class="timeline-container">
  <section class="playback-buttons">
    <button aria-label="rewind" class="icon-rewind"></button>
    <button aria-label="play" class="icon-play"></button>
    <!-- <button aria-label="pause" class="icon-pause"></button> -->
    <button aria-label="fast-forward" class="icon-fast-forward"></button>
  </section>
  <section class="progress-bar">
    <time class="time-past">
      01:02:54
    </time>
    <time class="time-remaining">
      00:24:06
    </time>
    <div class="bar-full-length">
      <div class="bar-current">
      </div>
      <div class="bar-scrubber">
      </div>
    </div>
  </section>
</section>
