nav.signed-in {
  //border-top: 5px solid $light-blue;
  padding-top: .2em;
  text-align: right;

  .avatar {
    border-radius: 3px;
    margin-right: 3px;
    position: relative;
    top: 5px;
  }

  .sign-out {
    color: $dark-blue;
    font-weight: 500;
    margin: 0 1.3em;

    &:hover {
      color: $bright-blue;
    }
  }
}

