<% if current_user %>
  <header class="main">
    <nav class="signed-in">
      <%= image_tag "placeholder-avatar.jpg", height: "20", width: "20", class: "avatar" %>
      <span>@brendamarienyc</span>
      <%= link_to "Sign Out", "#", class: "sign-out" %>
    </nav>
  </header>
<% end %>
